body {
	background-color: steelblue;
	font-family: Arial, Helvetica, sans-serif;
	height: 100%;
	margin: auto;
	overflow-y: hidden;
}

a:focus {
	outline: none;
}

/* Form */

.login {
	background-color: aliceblue;
	box-shadow: 0 0 10px 0 black;
	margin: auto;
	overflow: auto;
	position: relative;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
	width: 500px;
}

.login b {
	color: steelblue;
	font-size: 2em;
}

.login hr {
	border: 1px solid steelblue;
	color: steelblue;
}

.login a:link, .login a:visited {
	color: steelblue;
	text-decoration: underline;
}

/* Inputs */

.divinput {
	background-color: lightblue;
	border: 2px solid steelblue;
	border-radius: 2px;
	height: 50px;
	margin: auto;
	width: 300px;
}

.divinput i {
	font-size: 20px;
	margin-bottom: 15px;
	margin-top: 15px;
}

.divinput input {
	background-color: transparent;
	border: none;
	color: black;
	float: right;
	font-size: 1em;
	height: 50px;
	padding: 0.5em;
	width: 250px;
}

/* Additional classes for inputs */

.highlight {
	box-shadow: 0 0 2px 1px red inset;
}

.nohighlight {
	box-shadow: none;
}

/* Confirm button */

.login input[type=submit] {
	background-color: steelblue;
	border: 2px solid lightblue;
	border-radius: 25px;
	color: white;
	font-size: 1em;
	font-weight: bold;
	height: 50px;
	padding: 0.5em;
	text-transform: uppercase;
	width: 150px;
}

.login input[type=submit]:hover {
	background-color: aliceblue;
	border: 2px solid steelblue;
	color: steelblue;
}

/* Classes for the error message */

.visible {
	color: red;
	display: block;
	text-transform: uppercase;
}

.visible_green {
	color: green;
	display: block;
	text-transform: uppercase;
}

.hidden {
	display: none;
}

/* Media queries 500px */

@media only screen and (max-width: 500px), (max-height: 500px) {

	.login {
		width: 300px;
	}

	.divinput {
		width: 280px;
	}

	.divinput input {
		width: 230px;
	}

}
